/* Global Code */
* {
  font-family: "Cairo", sans-serif;
}
:root {
  --main-padding: 20px;
  --main-margin: 70px;
  --main-color-font: #ff3838;
  --myInterest-grid: 45vw;
}
/* Global Code */

/*start header and start(nav) */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(../images/Bg-Page.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
header nav {
  position: relative;
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: space-evenly;
  font-size: 20px;
  padding-bottom: 100px;
}

@media (max-width: 321px) {
  .landing p {
    display: none;
  }
  .landing a[href="#"] {
    display: none;
  }
}

@media (max-width: 411px) {
  header nav ul {
    display: none;
  }
  .ABOUT_ME .content img {
    position: relative;
    left: -10%;
    transform: translateX(-0%);
  }
}
header nav li {
  display: inline-block;
  list-style: none;
  margin: 25px 30px;
  position: relative;
}
header nav li a {
  text-decoration: none;
  color: #fff;
}
header nav li::before {
  content: "";
  position: absolute;
  background-color: crimson;
  width: 100%;
  height: 2px;
  top: -10px;
  right: 0;
  transition: 0.2s;
  transform-origin: right;
  transform: scale(0);
  transition: all 0.2s linear;
}
header nav li::after {
  content: "";
  position: absolute;
  background-color: rgb(220, 190, 20);
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  transition: 0.2s;
  transform-origin: left;
  transform: scale(0);
  transition: all 0.2s linear;
}
header nav li:hover:before,
header nav li:hover:after {
  transform: scale(1);
}

header nav .logo img {
  width: 8rem;
  margin: var(--main-padding) 40px;
  padding: 0 20px;
}
/* end(nav) */

/* Start landing*/

.landing {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -150%);
  margin-top: 150px;
  text-align: center;
}
.landing > :nth-child(1) {
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 3rem;
  color: var(--main-color-font);
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 2rem;
}
.landing > :nth-child(2) {
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 3rem;
  color: var(--main-color-font);
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 2rem;
}
.landing > :nth-child(3) {
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}
.landing > :nth-child(5) {
  font-size: 20px;
  text-align: center;
  color: white;
  padding: var(--main-padding);
}
.landing > :nth-child(6) {
  width: 50px;
  height: 30px;
  background-color: transparent;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 1s linear;
}
.landing > :nth-child(6):hover {
  background-color: var(--main-color-font);
  border-color: var(--main-color-font);
}
.landing > :nth-child(8) {
  font-size: 2rem;
  color: white;
  margin: 20px 0;
  animation: animate 2.5s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* End landing*/

/* End Header */

/* Start About Me */

.ABOUT_ME {
  position: relative;
}

.ABOUT_ME > :nth-child(1) {
  text-align: center;
  padding-top: var(--main-margin);
  font-size: 3rem;
  text-shadow: 1.1px 1px 2px var(--main-color-font);
  position: relative;
}
.ABOUT_ME h1 span {
  position: relative;
}
.ABOUT_ME h1 span::after {
  content: "";
  position: absolute;
  height: 5px;
  background-color: var(--main-color-font);
  left: -10px;
  bottom: 8px;
  width: 100%;
}
.ABOUT_ME .content {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 30px;
}
.ABOUT_ME .content p {
  text-align: center;
  margin: 50px 100px 80px 200px;
  font-size: 1.1rem;
  line-height: 1.5;
  width: 400px;
}

.ABOUT_ME::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #ddd;
  left: 0;
  bottom: 0;
}
@media (max-width: 984px) {
  .ABOUT_ME .content p {
    margin: 25px 50px 40px 100px;
  }
}
@media (max-width: 792px) {
  .ABOUT_ME .content p {
    margin: calc(25 / 2) 25px 20px 50px;
  }
}
@media (max-width: 760px) {
  .ABOUT_ME .content p {
    margin: calc(25 / 4) calc(25 / 2) 10px 25px;
    position: absolute;
    right: 10px;
  }
  .ABOUT_ME .content p {
    position: absolute;
    left: 10px;
    width: 200px;
    display: none;
  }
  .ABOUT_ME .content img {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 750px) {
  .ABOUT_ME .content {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  section h1 {
    font-size: 2px;
  }
  .ABOUT_ME .content {
    display: flex;
    justify-content: center;
  }
  .ABOUT_ME .content img {
    width: 80%;
  }
}
@media (max-width: 474px) {
  .My_Interest .content p {
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 548px) {
  .ABOUT_ME .content {
    display: flex;
    justify-content: flex-start;
  }
}
@media (max-width: 570px) {
  header nav ul {
    display: none;
  }
}

/* End About Me */

/* Start My Skills */
.mySkills {
  position: relative;
  padding-bottom: var(--main-margin);
}
.mySkills h1 {
  padding-top: var(--main-margin);
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}
.mySkills h1 span {
  position: relative;
  text-shadow: 1.1px 1px 2px var(--main-color-font);
}

.mySkills .img-Container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px 100px;
  justify-content: center;
}
@media (max-width: 517px) {
  .mySkills .img-Container {
    gap: 0px 0px;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  }
}
.mySkills .img-Container > img {
  width: 200px;
}
.mySkills p {
  margin: var(--main-margin) 0;
  text-align: center;
  font-size: 1.1rem;
}
.mySkills::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #ddd;
  left: 0;
  bottom: 0;
}

/* End My Skills */
/* Start My Interst */

.My_Interest {
  position: relative;
  padding-bottom: 70px;
}
.My_Interest h1 {
  padding-top: var(--main-margin);
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}
.My_Interest h1 span {
  position: relative;
  text-shadow: 1.1px 1px 2px var(--main-color-font);
}
.My_Interest h1 span::after {
  content: "";
  position: absolute;
  height: 5px;
  background-color: var(--main-color-font);
  left: 0;
  bottom: 8px;
  width: 100%;
}
.My_Interest .content {
  display: flex;
  margin-top: 30px;
  width: 100%;
  height: auto-fit;
  flex-direction: row;
}
@media (max-width: 650px) {
  .My_Interest .content img {
    justify-content: center;
  }
  .My_Interest .content {
    flex-direction: column;
    justify-content: center;
  }
}
.My_Interest .content p {
  padding-top: var(--main-margin);
  font-size: 1.1rem;
  line-height: 1.5;
  margin-left: 0;
  text-align: center;
}
.My_Interest .content img {
  display: flex;
  justify-content: center;
}
.My_Interest::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #ddd;
  left: 0;
  bottom: 0;
}
/* End My Interst */

/* Start My Work */
.myWork {
  position: relative;
  padding: var(--main-margin) 0;
}
.myWork h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}
.myWork h1 span {
  position: relative;
  text-shadow: 1.1px 1px 2px var(--main-color-font);
}
.myWork h1 span::after {
  content: "";
  position: absolute;
  height: 5px;
  background-color: var(--main-color-font);
  left: 0;
  bottom: 8px;
  width: 100%;
}

.myWork .content .iframe-container {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}
.myWork .content iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.myWork::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #ddd;
  left: 0;
  bottom: 0;
}
/* End My Work */

/* Start Connect Me */

.CONNECT-ME h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}
.CONNECT-ME h1 span {
  position: relative;
  text-shadow: 1.1px 1px 2px var(--main-color-font);
}
.CONNECT-ME h1 span::after {
  content: "";
  position: absolute;
  height: 5px;
  background-color: var(--main-color-font);
  left: 0;
  bottom: 8px;
  width: 100%;
}
.CONNECT-ME .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  justify-items: center;
  gap: 100px 50px;
  padding: var(--main-margin) 0;
  color: var(--main-color-font);
}
.CONNECT-ME .content span {
  font-size: 1.5rem;
  font-weight: 750;
}
.CONNECT-ME .content a {
  text-decoration: none;
  color: var(--main-color-font);
  padding-top: 100px;
}
.CONNECT-ME .content a:hover {
  background-color: var(--main-color-font);
  padding: 13px 7px;
  border-radius: 6px;
  color: white;
  transition: 0.8s;
  transform-origin: bottom;
}

/* End Connect Me */

/* Start footer */
footer {
  position: relative;
  padding: 30px 0;
  width: 100%;
  background-color: #202020;
}
footer p {
  color: #fff;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer::before {
  content: "";
  background-color: var(--main-color-font);
  width: 100%;
  position: absolute;
  height: 5px;
  top: 0;
}
footer::after {
  content: "";
  background-color: var(--main-color-font);
  width: 100%;
  position: absolute;
  height: 4.5px;
  bottom: 0;
}
/* End footer */
