/* Start global rule */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');


/* End global rule */


body{
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: rgb(46, 44, 41);
}



.fa-apple{
    color: white;
    font-size: 7em;
    text-shadow: 0 0 50px #0f0,
    0 0 100px #0f0,
    0 0 150px #0f0,
    0 0 200px #0f0,
    0 0 250px #0f0;
    animation: Change-color 5s linear infinite;
}

@keyframes Change-color{
    0%{
        filter: hue-rotate(0deg);
    }
    0%{
        filter: hue-rotate(360deg);
    }
}