.parent{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 50px auto 50px ;
    height: 800px;
    width: 800px;
    background-color: #aaa;
grid-template-areas: " logo logo li li li li li li li li" 
"cont cont cont cont cont cont cont cont cont cont "
"foot foot foot foot foot foot foot foot foot foot"
;
gap: 5px 5px;
}
.grid{
    background-color: #a52a2a;
    
font-size: 40px;
color: white;
text-align: center;
/* margin: 2px auto; */
}
.logo{
    grid-area: logo;
    background-color: #33aa;
}
.li{
    grid-area: li;
    background-color: red;
}
.cont{
    grid-area: cont;
    background-color: tomato;
}
.footer{
    grid-area: foot;
    background-color: slategray;
}