:root {
  --widthhurt: 100px;
  --color: red;
}

body {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: rgb(46, 44, 41);
}
.heart {
  position: relative;
  width: var(--widthhurt);
  height: 160px;
  background: var(--color);
  transform: rotate(45deg);
  border-radius: calc(var(--widthhurt) / 2) calc(var(--widthhurt) / 2) 0 0;
  /* box-shadow: 0 -1px 10px red, 0 -1px 20px red, 0 -1px 30px red; */
  animation: animate 3s ease-in-out infinite;
}
.heart::before {
  content: "";
  position: absolute;
  width: var(--widthhurt);
  height: 160px;
  background: var(--color);
  transform: rotate(-90deg);
  border-radius: calc(var(--widthhurt) / 2) calc(var(--widthhurt) / 2) 0 0;
  left: -30px;
  bottom: -30px;
  /* box-shadow: 0 1px 10px red, 0 1px 20px red, 0 1px 30px red; */
  animation: animate 3s ease infinite;
}
@keyframes animate {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 1px 10px red, 0 1px 20px red, 0 1px 30px red;
  }
}
